<!DOCTYPE html>
<html>
<head>
  <title>TypingGameProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  
    <%#= javascript_include_tag "vendor/modernizr" %>


  <!-- nes.css -->
  <link href="https://unpkg.com/nes.css@2.1.0/css/nes.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
      <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

      <style>
        html, body, pre, code, kbd, samp, h2, h5{
            font-family: "Press Start 2P";
            background-color: #202428;
            color: white
        }
      </style>

</head>
<body>
  
  <nav class="top-bar">
    <dd class="title-area">
      <dl class="name">
        <h1><a href="/">Home</a></h1>
      </dl>
    </dd>

    <section class="top-bar-section">
      <dd class="right">
        <%- if current_user -%>
          <dl><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></dl>
        <%- else -%>
          <dl><%= link_to 'Sign Up', new_user_registration_path %></dl>
          <dl><%= link_to 'Sign In', new_user_session_path %></dl>
        <%- end -%>
      </dd>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
